:root {
  /* Font Size */
  --font-navmenus: 1rem;
  --font-navtitle: 1.5rem;
  --font-title: 5rem;
  --font-title-alpha: 8rem;
  --font-bgtitle: 3rem;
  --font-describe: 1rem;

  /* Font Family */
  --font-family-navmenus: "Krona One", sans-serif;
  --font-family-title: "Orelega One", cursive;
  --font-family-homehead: "Yeon Sung", cursive;
  --font-family-describe: "Sunflower", sans-serif;
  --font-family-alpha: "Lobster", cursive;
  --font-family-backtitle: "Fugaz One", cursive;

  /* Font Weight */

  /* transition option*/
  --trans--bgtitle: all ease-out 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

container {
  display: block;
}

/*<a> tag text decoration edit*/
a.navbar__menus__a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.3rem;
}

/* apply to common bgTitle class*/
.bgTitle {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: var(--font-bgtitle);
  font-family: var(--font-family-backtitle);
}

.fadein-ani {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Navbar section */

.navbar {
  /* make navbar sticky => position: sticky; top: 0; */
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: cadetblue;
  color: aliceblue;
  transition: ease-in 500ms;
}

.navbar__title {
  text-align: center;
  font-size: var(--font-navtitle);
  font-family: var(--font-family-title);
  font-weight: bold;
}

.nav__logo {
  display: inline-block;
  margin-left: 0.3em;
  font-size: 1rem;
}

.nav__logo:hover {
  color: darkorange;
}

.nav__menu {
  width: 40em;
}

.navbar__menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: var(--font-navmenus);
  font-family: var(--font-family-navmenus);
}

.navbar__menus__item {
  box-sizing: border-box;
}

.navbar__menus__a:hover {
  color: darkorange;
  background-color: floralwhite;
}

.navbar__menus__divider {
  width: 0.15rem;
  height: 1.5rem;
  background-color: rgb(206, 207, 218);
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url();
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #000000;
}

.home__background__title {
  transform: translate(-29rem, 2rem);
}

.home__box {
  position: relative;
  margin-top: 7rem;
  width: 55rem;
  height: 23rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.home__box:before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(1px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  width: 100%;
  height: 100%;
}

.home__profile {
  position: relative;
  z-index: 2;
  margin-top: 1rem;
  width: 15rem;
  height: 20rem;
}

.home__intro {
  position: relative;
  z-index: 2;
  width: 30rem;
  height: 20rem;
  text-align: center;
}

.home__head {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: var(--font-family-homehead);
}

.home__describe {
  padding-bottom: 1rem;
  border-bottom: 1px black solid;
  position: relative;
  z-index: 2;
  font-size: var(--font-describe);
  font-family: var(--font-family-describe);
}

.home__title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: var(--font-title);
  font-family: var(--font-family-title);
}

/* About section */

.about__section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url();
  background-position: center;
  background-size: cover;
}

.about__background__title {
  transform: translate(-27rem, -12rem);
}

.about__box {
  position: relative;
  margin-top: 4rem;
  width: 65rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.about__box::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(1px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  width: 100%;
  height: 100%;
}

.about__contain__describe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__describe1 {
  text-align: center;
  width: 30rem;
  height: 100%;
}

.describe1__h1 {
  font-size: 2rem;
}

.descibe1__h2 {
}

.about__describe2 {
  text-align: center;
  width: 30rem;
  height: 100%;
}

/* Career section */

.skill__section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url();
  background-position: center;
  background-size: cover;
}

.skill__background__title {
  transform: translate(-30rem, -12rem);
}

.skill__box {
  border: 1px solid black;
  position: relative;
  z-index: 5;
  width: 65rem;
  height: 30rem;
  margin-top: 1.5rem;
  text-align: center;
}

.skill__box::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px) saturate(50%) contrast(40%) brightness(150%);
  content: "";
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.skill__describe {
  position: relative;
  padding: 1rem;
}

.skill__majors {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
}

.skill__major__box {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid salmon;
}

.skill__major__img {
  height: 5rem;
  font-size: 4rem;
}

.front {
  color: rgb(212, 8, 8);
}

.skill__major__front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.major__img__front {
  width: 50px;
  height: 50px;
}

.img__html {
  position: relative;
}

.back {
  color: rgb(16, 53, 53);
}

.mobile {
  color: rgb(118, 36, 194);
}

/* work section */

.work__background__title {
  transform: translate(0rem, -15rem);
}
