:root {
  /* Font Size */
  --font-navmenus: 1rem;
  --font-navtitle: 2.5rem;
  --font-title: 5rem;
  --font-title-alpha: 8rem;
  --font-subtitle: 3rem;
  --font-describe: 2rem;

  /* Font Family */
  --font-family-navmenus: "Krona One", sans-serif;
  --font-family-title: "Orelega One", cursive;
  --font-family-describe: "Yanone Kaffeesatz", sans-serif;
  --font-family-alpha: "Lobster", cursive;
  /* Font Weight */
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

container {
  display: block;
}

/*<a> tag text decoration edit*/
a.navbar__menus__a {
  text-decoration: none;
  color: whitesmoke;
}

/* Navbar section */

.navbar__menus__a:hover {
  color: darkorange;
  background-color: floralwhite;
  border-radius: 10%;
}

.navbar {
  /* make navbar sticky => position: sticky; top: 0; */
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: cadetblue;
  color: aliceblue;
  transition: 1000ms;
}

/* scroll 움직였을 때 navbar opacity 적용*/
.nav_opacity {
  opacity: 0.3;
}

/* scroll 움직였을 때 navbar hide 적용*/
.nav_hide {
  top: -5rem;
}

.nav__logo {
  display: inline-block;
  margin-left: 0.3em;
  font-size: 2.5rem;
}

.nav__logo:hover {
  color: darkorange;
}

.navbar__title {
  margin-left: 0em;
  text-align: center;
  font-size: var(--font-navtitle);
  font-family: var(--font-family-title);
  font-weight: bold;
}

.nav__menu {
  width: 30em;
}

.navbar__menus__divider {
  width: 0.5%;
  background-color: rgb(206, 207, 218);
}

.navbar__menus {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: var(--font-navmenus);
  font-family: var(--font-family-navmenus);
}

.navbar__menus__item {
  box-sizing: border-box;
  width: auto;
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(./images/frozen_custard.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}

.home__glass__box {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 20%;
  width: 45rem;
  height: 40rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.home__glass__box:before {
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  transform: translateX(-12.5rem);
}

.home__profile {
  position: relative;
  z-index: 1;
  width: 20rem;
  height: 20rem;
}

.home__title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: var(--font-title);
  font-family: var(--font-family-title);
}

.home__describe {
  position: relative;
  z-index: 1;
  margin: 40px 0 0 0;
  font-size: var(--font-describe);
  font-family: var(--font-family-describe);
}

/* About section */

.about__section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/computer_desk.jpg);
  background-position: center;
  background-size: cover;
}

.about__box {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.about__left {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(95, 158, 160, 0.9);
  text-align: center;
}

.about__title {
  position: relative;
  margin: 0;
  font-size: var(--font-title-alpha);
  font-family: var(--font-family-alpha);
}

.about__subtitle {
  font-size: var(--font-subtitle);
  font-family: var(--font-family-title);
}

.about__right {
  padding: 1rem;
  background-color: rgb(255, 160, 122, 0.9);
}
